<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
    !function(name,path,ctx){
      var latest,prev=name!=='Keen'&&window.Keen?window.Keen:false;ctx[name]=ctx[name]||{ready:function(fn){var h=document.getElementsByTagName('head')[0],s=document.createElement('script'),w=window,loaded;s.onload=s.onerror=s.onreadystatechange=function(){if((s.readyState&&!(/^c|loade/.test(s.readyState)))||loaded){return}s.onload=s.onreadystatechange=null;loaded=1;latest=w.Keen;if(prev){w.Keen=prev}else{try{delete w.Keen}catch(e){w.Keen=void 0}}ctx[name]=latest;ctx[name].ready(fn)};s.async=1;s.src=path;h.parentNode.insertBefore(s,h)}}
    }('KeenAsync','https://d26b395fwzu5fz.cloudfront.net/keen-tracking-1.1.3.min.js',this);

    KeenAsync.ready(function(){
      // Configure a client instance
      var client = new KeenAsync({
        projectId: '595ea61dc9e77c000128d2d1',
        writeKey: 'CAFF656ECE41C9A9A6B16ADDC8CEF7F8800BAFA02C95C384FA9076199AD305DE79FD96E9A7D9572F8A09C264DF290A01AD91361D2AD8554B3D2925BD7856D9EF5243E372A448432CC12FF688D264C09B7DC3EEAF9F8480C1BB10B24F6E931384'
      });

      // Record an event
      client.recordEvent('pageviews', {
        title: document.title
      });
    });
  </script>

  <meta charset="utf-8">
  <meta htp-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/index.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"> -->

</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  
  {{{ body }}}
  
</body>



<footer id="contact" class="page-footer scrollspy">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About</h5>
        <p class="grey-text text-lighten-4">My name is Thao and I'm a web developer based in California. I recently graduated with a B.S. in Computer Science from San Francisco State University.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact Me</h5>
        <ul>
          <a href="https://www.linkedin.com/in/thaoluu/" class="fa fa-linkedin"></a>
          <a href="https://mail.google.com/mail/?view=cm&fs=1&to=thaonluu@gmail.com" class="fa fa-google"></a>
          <a href="https://www.instagram.com/0aht/" class="fa fa-instagram"></a>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 handmade by me
    <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
    </div>
  </div>
</footer>



<script type="text/javascript">
  $(document).ready(function(){
    $('.scrollspy').scrollSpy({
      scrollOffset: 55
    });

    $('.modal').modal();
    $('.slider').slider({ interval: 90000000, height:300});
    $('.materialboxed').materialbox();
  });
</script>

</html>