.modal { max-height: 85% !important }

.section1 {
  height: 98vh;
  width: 100%;
  min-height: 350px;
  background-image:  url('../images/grand_teton.JPG');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
}

.home-content {
  height: 100%;
  min-width: 100%;
  color: white;
  font-size: 4px;
  font-size: 3.9vw;
}

.intro-text,{
  margin-top: 20vh;
  font-weight: bold;
}

.hire-text {
  margin: 10vh 0 12vh 0;
}


.section2 {
  height: 75vh;
  height: auto;
  width: 100%;
  min-height: 350px;
  font-size: 18px;
  margin: 5vh 0 5vh 0;

}

.skill-btn {
  margin: 10px;
}

.section3 {
  height: 97vh;
  height: auto;
  position: relative;
  width: 100%;
  min-height: 350px;
  background-color: #FFFFFF;
  
}

.each-project {
  width: inherit;
  height: inherit;
}


.each-project:hover { 
  background-color: #777777;
  opacity: .3;
}

.projects-wrapper {
  margin: 7vh 0 10vh 0;
}

.project-contents {
  display: flex;
  justify-content: center;
}

.img2 {
  background-image:  url('../images/grand_teton.JPG');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #0077B5;
    color: white;
}

.fa-google {
    background: #DD4B39;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}


