<div class="page-wrapper">
  <div class="navbar navbar-fixed scrollspy" id="home">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">TL</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#home">Home</a></li>
          <li><a href="#skills">My Skills</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li
        </ul>
      </div>
    </nav>
  </div>

  <div class="page-content">
    <div id="home" class=" section section1 scrollspy">
      <div class="home-content row">
        <div class="intro-text col s12 center">Hi, I'm Thao. I'm a front-end web developer.</div>
        <div class="hire-text col s12 center">
          <a class="waves-effect waves-light btn-large" href="https://mail.google.com/mail/?view=cm&fs=1&to=thaonluu@gmail.com&su=I saw your website and...">HIRE ME</a>
        </div>
        <div class="more-text col s12 m12 center">
          <a class="waves-effect btn-flat" href="#skills" style="color: white;">Learn more about me<i class="large material-icons right">play_for_work</i>
          </a>
        </div>
      </div>
    </div>

    <div id="skills" class="section section2 scrollspy">
      <h3><center>My Skills</center></h3>
      <span><center>The following are langages, frameworks, techniques and tools that I've used in my past projects: </center></span>
      <br><br>
      <div class="row center">
        <div class="col m8 s12 offset-m2">
          <a class="waves-effect waves-light skill-btn grey btn">HTML5</a>
          <a class="waves-effect waves-light skill-btn grey btn">CSS3</a>
          <a class="waves-effect waves-light skill-btn grey btn">Javascript</a>
          <a class="waves-effect waves-light skill-btn grey btn">Git</a>
          <a class="waves-effect waves-light skill-btn grey btn">Node.js</a>
          <a class="waves-effect waves-light skill-btn grey btn">Express.js</a>
          <a class="waves-effect waves-light skill-btn grey btn">Sass</a>
          <a class="waves-effect waves-light skill-btn grey btn">Github</a>          
          <a class="waves-effect waves-light skill-btn grey btn">Java</a>
          <a class="waves-effect waves-light skill-btn grey btn">C++</a>
          <a class="waves-effect waves-light skill-btn grey btn">MySQL</a>
          <a class="waves-effect waves-light skill-btn grey btn">PostgreSQL</a>
          <a class="waves-effect waves-light skill-btn grey btn">Handlebars.js</a>
          <a class="waves-effect waves-light skill-btn grey btn">Bootstrap</a>
          <a class="waves-effect waves-light skill-btn grey btn">Materialize</a>
          <a class="waves-effect waves-light skill-btn grey btn">Functional Testing</a>
          <a class="waves-effect waves-light skill-btn grey btn">White/Black Box testing</a>
          <a class="waves-effect waves-light skill-btn grey btn">Heroku</a>
        </div>
      </div>
    </div>

    <div id="projects" class="section section3 scrollspy">
      <p>Content3 </p>
    </div>

    <div id="contact" class="section section4 scrollspy">
      <h4><center>Contact Me</center></h4>
      <span><center></center></span>
      <br><br>
      <span><center>
        <a href="https://www.linkedin.com/in/thaoluu/" class="fa fa-linkedin"></a>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=thaonluu@gmail.com" class="fa fa-google"></a>
        <a href="https://www.instagram.com/0aht/" class="fa fa-instagram"></a>
      </center></span>
    </div>

  </div>
      

</div>


<script type="text/javascript">
  $(document).ready(function(){
    $('.scrollspy').scrollSpy({
      scrollOffset: 55
    });
  });
</script>