<div class="page-wrapper">
  <div class="navbar navbar-fixed scrollspy" id="home">
    <nav>
      <div class="nav-wrapper">
        <a href="#home" class="brand-logo">
         <img class="icon" src="../images/logo.png">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#home">Home</a></li>
          <li><a href="#skills">My Skills</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="page-content row">
    <div id="home" class="col m12 s12 section section1 scrollspy">
      <div class="home-content row">
        <div class="intro-text col s12 center">Hi, I'm Thao. I'm a front-end web developer.</div>
        <div class="hire-text col s12 center">
          <a class="waves-effect waves-light btn-large" href="mailto:thaonluu@gmail.com?Subject=I saw your website and..." target="_top">HIRE ME</a>
        </div>
        <div class="more-text col s12 m12 center">
          <a class="waves-effect btn-flat" href="#skills" style="color: white;">Learn more about me<i class="large material-icons right">play_for_work</i>
          </a>
        </div>
      </div>
    </div>

    <div id="skills" class="col m12 s12 section section2 scrollspy">
      <h3><center>My Skills</center></h3>
      <span><center>The following are langages, frameworks, techniques and tools that I've used in my past projects: </center></span>
      <br><br>
      <div class="row center">
        <div class="col m8 s12 offset-m2">
          <a class="waves-effect waves-light skill-btn grey btn">HTML5</a>
          <a class="waves-effect waves-light skill-btn grey btn">CSS3</a>
          <a class="waves-effect waves-light skill-btn grey btn">Javascript</a>
          <a class="waves-effect waves-light skill-btn grey btn">Sass</a>
          <a class="waves-effect waves-light skill-btn grey btn">Git</a>
          <a class="waves-effect waves-light skill-btn grey btn">Node.js</a>
          <a class="waves-effect waves-light skill-btn grey btn">Express.js</a>
          <a class="waves-effect waves-light skill-btn grey btn">Handlebars.js</a>
          <a class="waves-effect waves-light skill-btn grey btn">Java</a>
          <a class="waves-effect waves-light skill-btn grey btn">C++</a>
          <a class="waves-effect waves-light skill-btn grey btn">MySQL</a>
          <a class="waves-effect waves-light skill-btn grey btn">PostgreSQL</a>
          <a class="waves-effect waves-light skill-btn grey btn">Bootstrap</a>
          <a class="waves-effect waves-light skill-btn grey btn">Materialize</a>
          <a class="waves-effect waves-light skill-btn grey btn">React.js</a>
          <a class="waves-effect waves-light skill-btn grey btn">White/Black Box testing</a>
          <a class="waves-effect waves-light skill-btn grey btn">Heroku</a>

        </div>
      </div>
    </div>

    <div class="divider col m12 s12"></div>

    <div id="projects" class="col m12 s12 section section3 scrollspy">
      <div class="projects-wrapper">
        <h3><center>Projects</center></h3>
        
        <div class="container">
          <div class="row valign-wrapper">

            <div class="col s6 ">
              <div class="card">
                <div class="card-image">
                  
                  <a class="click waves-effect waves-light black lighten-3" href="#gb-modal">
                    <img class="project-img" style="max-height: 210px; object-fit: cover;" src="../images/home.png"> 
                    <span class="project-text card-title">Gatorbay</span>

                  </a>
                  
                  
                </div>
              </div>
            </div>

            <div class="col s6 ">
              <div class="card">
                <div class="card-image">
                  
                  <a class="click waves-effect waves-light black lighten-3" href="#ww-modal">
                    <img class="project-img" src="../images/index.png"> 
                    <span class="project-text card-title">Werewolf</span>

                  </a>                  
                </div>
              </div>
            </div>

            <div id="gb-modal" class="modal">
              <div class="modal-content">
                
                <div class="slider">
                  <ul class="slides" style="height: initial;">
                    <li>
                      <img class="materialboxed vertical-align" style="object-fit: cover;" data-caption="Home page" src="../images/home.png">
                    </li>
                    <li>
                      <img class="materialboxed vertical-align" style="object-fit: cover;" data-caption="Signin modal" src="../images/add_item.png">
                    </li>
                    <li>
                      <img class="materialboxed vertical-align" style="object-fit: cover;" data-caption="Search results" src="../images/search.png">
                    </li>
                    <li>
                      <img class="materialboxed vertical-align" style="object-fit: cover;" data-caption="Item's details page" src="../images/details.png">
                    </li>
                    <li>
                      <img class="materialboxed vertical-align" style="object-fit: cover;" data-caption="Search results" src="../images/signin.png">
                    </li>
                    <li>
                      <img class="materialboxed vertical-align" style="object-fit: cover;" data-caption="My items page" src="../images/my_items.png"> 
                    </li>                                        
                  </ul>
                </div>

                <h5><strong>GatorBay (SFSU software engineering project)</strong></h5>
                <a href="https://drive.google.com/file/d/0B3hoBeHskrebMTAtUmQ3Y1FRNXc/view">Demo video</a>
                <p>This was a project I worked on with 5 other students in my last year of college. In this project, I was in charge of the front-end and design aspects. I designed the mock-ups and did most of the front-end code. I also helped with the QA/testing process. This project was my first time getting hands on experience with software development. I had zero experience working in such a big group before. It was also my first time putting my front-end skills to test, and my source control (git) knowledge was also enhanced.</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-purple btn-flat">Close</a>
              </div>
            </div>

            <div id="ww-modal" class="modal">
              <div class="modal-content">
                
                <div class="slider">
                  <ul class="slides" style="height: initial;">
                    <li>
                      <img class="materialboxed vertical-align" style="object-fit: cover;" data-caption="Home page" src="../images/index.png">
                    </li>
                    <li>
                      <img class="materialboxed vertical-align" style="object-fit: cover;" data-caption="About page" src="../images/about.png">
                    </li>
                    <li>
                      <img class="materialboxed vertical-align" style="object-fit: cover;" data-caption="The outcome of the game" src="../images/result.png">
                    </li>                                       
                  </ul>
                </div>

                <h5><strong>Werewolf (SFSU Internet Application Design and Development)</strong></h5>
                <a href="http://csc667-werewolf.herokuapp.com/">View project on Heroku</a>
                <p>The project was mostly logic oriented. I worked on mostly the front end using Material Design Lite. I also helped with the database using PostgreSQL with pgAdmin and db-migrate. Werewolf was implemented with: Node.js, Express.js, Handlebars.js, Passport.js, Socket.io, Material Design Lite, and PostgreSQL.</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-purple btn-flat">Close</a>
              </div>
            </div>


            <!-- </div> -->
          </div>
        </div>

        <div class="row center">
          <span>More to come...</span>
        </div>
      </div>
    </div>

    <div class="divider col m12 s12"></div>


    <!-- <div id="contact" class="col m12 s12 section section4 scrollspy">
      <h4><center>Contact Me</center></h4>
      <span><center></center></span>
      <br><br>
      <span><center>
        <a href="https://www.linkedin.com/in/thaoluu/" class="fa fa-linkedin"></a>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=thaonluu@gmail.com" class="fa fa-google"></a>
        <a href="https://www.instagram.com/0aht/" class="fa fa-instagram"></a>
      </center></span>
    </div> -->

  </div>
      

</div>