<div class="page-wrapper">
  <div class="navbar navbar-fixed scrollspy" id="home">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light btn">Button</a></li>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#initialization">initialization</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="row">
    <div class="col s12 m9 l10" style="width: 100%; padding: 0;">
      <div id="home" class="section scrollspy" style="background-image:  url('../images/grand_teton.JPG');">
        <div class="">
          
        </div>
      </div>

      <div id="about" class="section scrollspy"">
        <p>Content2 </p>
      </div>

      <div id="initialization" class="section scrollspy">
        <p>Content3 </p>
      </div>
    </div>

  </div>
      

</div>